name: Flutter + SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-test-analyze:
    name: Build, Test & Analyze
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      # 1️⃣ Cloner le dépôt
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      # 2️⃣ Installer Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'  # version stable que tu as localement




      # 3️⃣ Vérifier Flutter
      - name: Flutter Doctor
        run: flutter doctor

      # 4️⃣ Activer le cache pour pub packages
      - name: Cache pub packages
        uses: actions/cache@v4
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # 5️⃣ Installer les dépendances Flutter
      - name: Flutter pub get
        run: flutter pub get

      # 6️⃣ Installer JDK pour SonarCloud
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      # 7️⃣ Construire l’application (optionnel)
      - name: Flutter build APK
        run: flutter build apk --debug

      # 8️⃣ Cache Sonar
      - name: Cache Sonar
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      # 8️⃣ Analyse SonarCloud
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          organization: lama-fall        # clé d'organisation SonarCloud
          projectKey: lama-fall_alumni_mobile
          projectBaseDir: ./             # répertoire du projet
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

