name: Flutter CI & SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build, Test & Analyze
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Cloner le dépôt
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Clones complets pour Sonar

      # 2️⃣ Installer Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.14.0'  # Flutter compatible Dart >=3.9.2

      # 3️⃣ Activer Flutter
      - name: Flutter Doctor
        run: flutter doctor

      # 4️⃣ Installer les dépendances Flutter
      - name: Flutter Pub Get
        run: flutter pub get

      # 5️⃣ Installer Java pour SonarCloud
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      # 6️⃣ Mettre en cache les packages Sonar
      - name: Cache Sonar
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      # 7️⃣ Analyser avec SonarCloud
      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner \
            -Dsonar.projectKey=alumni_mobile \
            -Dsonar.organization=lama-fall \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.sources=lib \
            -Dsonar.exclusions=build/**,**/*.g.dart \
            -Dsonar.dart.analyzer.reportFiles=report/analyzer-output.json
