- name: Setup Flutter
  uses: subosito/flutter-action@v2
  with:
    flutter-version: '3.14.0'  # compatible Dart >=3.9.2

- name: Flutter Doctor
  run: flutter doctor

- name: Cache pub packages
  uses: actions/cache@v4
  with:
    path: ~/.pub-cache
    key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
    restore-keys: |
      ${{ runner.os }}-pub-

- name: Flutter pub get
  run: flutter pub get

- name: Setup JDK 17
  uses: actions/setup-java@v4
  with:
    java-version: 17
    distribution: 'temurin'

- name: Flutter build
  run: flutter build apk --debug

- name: Cache Sonar
  uses: actions/cache@v4
  with:
    path: ~/.sonar/cache
    key: ${{ runner.os }}-sonar

- name: SonarCloud Scan
  env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  run: |
    flutter analyze -f json > report/analyzer-output.json
    sonar-scanner \
      -Dsonar.projectKey=lama-fall_alumni_mobile \
      -Dsonar.organization=lama-fall \
      -Dsonar.host.url=https://sonarcloud.io \
      -Dsonar.sources=lib \
      -Dsonar.exclusions=build/**,**/*.g.dart \
      -Dsonar.dart.analyzer.reportFiles=report/analyzer-output.json \
      -Dsonar.login=${{ secrets.SONAR_TOKEN }}
